[Unit]
Description=Deluge Web UI
Documentation=man:deluge-web
After=deluged.service

[Service]
User={admin}
Group={admin}
Type=simple
ExecStart=/usr/bin/deluge-web
Restart=on-failure
TimeoutStopSec=30
# ReadWritePaths={download_path} /home/{admin}/.config/deluge/
# ProtectSystem=strict
# PrivateDevices=true

[Install]
WantedBy=multi-user.target
Alias=deluge-web.service
