[Unit]
Description=Sonarr Daemon
After=syslog.target network.target
Wants={downloaders}
StartLimitIntervalSec=0
 
[Service]
User={admin}
Group={admin}
Type=simple
WorkingDirectory=/opt/sonarr/
ExecStart=/usr/bin/mono --debug /opt/sonarr/Sonarr.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure
RestartSec=5
 
[Install]
WantedBy=multi-user.target
Alias=sonarr.service